.write{
    padding-top: 50px;
    margin-left: 65px;
}

.writeImg{
    margin-left: 150px;
    width: 70vw;
    height: 400px;
    border-radius:10px;
    object-fit:cover;
}
.writeForm{
    position: relative;
}
.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.fileInput{
    border:1px solid;
    border-radius: 50%;
    
}
.writeIcon{
    width: 20px;
    height: 25px;
    display: flex;
    align-items: center;
    margin-left: 6.5px;
    font-style: 20px;
    color:rgb(121,118,118);
    cursor: pointer;
}

.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width:70vw;
}

.writeInput:focus{
    outline:none;
}

.writeText{
    font-size: 20px;
    height: 100vh;
}

.writeSubmit{
    position:absolute;
    top: 20px;
    right: 293px;
    color: white;
    background-color: teal;
    padding: 10px;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}
.writeSubmit:hover{
    color: white;
    background-color: lightcoral;
    transition:0.7s;

}